# Node.js folders/files
node_modules
npm-debug.log

# OS folders/files
.DS_Store

# Settings folders/files
.editorconfig
.eslintignore
.eslintrc.json
.gitignore
.gitlab-ci.yml
.huskyrc
.prettierignore
.prettierrc
